/* Reset */
*,
* ::before,
* ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/* Typography  */
h1 {
    color: #2AB3B1;
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: -.25px;
    line-height: 1.46rem;
}

h2 {
    font-size: 1.13rem;
    font-weight: 700;
    letter-spacing: -.22px;
    line-height: 1.32rem;
}

body {
    background-color: #E6EFF5;
    color: #FFFFFF;
    font-family: 'Karla', sans-serif;
    font-size: .875rem;
    font-weight: 400;
}

main {
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.145);
    margin: 4.5rem 2rem;
    overflow: hidden;
}

.join {
    margin: 1.75rem 1.5rem 
    
}

.join p{
    color: #9AA7BE;
    letter-spacing: -.17px;
    line-height: 1.62rem;
}

p.bright {
    color: #C0DF33;
    font-size: .94rem;
    font-weight: 700;
    letter-spacing: -.19px;
    line-height: 1.25rem;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
}

.monthly {
    background-color: #2AB3B1;
    font-size: 1rem;
    letter-spacing: -.2px;
    line-height: 1.63rem;
    padding: 1.5rem;
}

.cost-container {
    align-items: center;
    display: flex;
    margin-top: 1.13rem;
    margin-bottom: .25rem;
}

.cost {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -.4px;
    line-height: 2.34rem;
    vertical-align: middle;
}

.cost-small {
    margin-left: .687rem;
    opacity: .5;
}

button {
    background-color: #C0DF33;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -.2px;
    line-height: 1.17rem;
    margin-top: 1.63rem;
    padding: .875rem;
    width: 100%;
}

button:hover {
    background-color: #B4CD2C;
}

.why {
    background-color: rgba(42, 179, 177, .85);
    padding: 1.5rem;
}

.why ul {
    letter-spacing: -.17px;
    line-height: 1.25rem;
    list-style: none;
    margin-top: 1.13rem;
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 1.5rem;
        letter-spacing: -.3px;
        line-height: 1.75rem;
    }
    h2, p.bright {
        font-size: 1.13rem;
    }

    body {
        align-items: center;
        display: grid;
        justify-content: center;
        height: 100vh;
    }

    main {
        max-width: 39.7rem;
        margin: 0;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .join, 
    .monthly, 
    .why {
        padding: 2.5rem;
    }

    .join {
        margin: 0;
    }
    
    .join, .monthly {
        font-size: 1rem;
        letter-spacing: -.2px;
        line-height: 1.62rem;
    }
}